/.idea

/invoice-validation/target
/invoice-validation/invoice-validation.iml

/invoice-persistence/target
/invoice-persistence/userReport.pdf
/invoice-persistence/invoice-persistence.iml

/invoice-shared/target
/invoice-shared/invoice-shared.iml
